.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form h2 {
  margin: 0 0 10px 0;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.input label {
  margin-right: 10px;
  font-weight: bold;
}

.input select,
.input input[type=checkbox] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.output {
  width: 45%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.output h2 {
  margin: 0 0 10px 0;
}

.output div {
  margin-bottom: 10px;
  font-weight: bold;
}
.bouton {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#message {
  margin-top: 5px;
}

select, input[type=checkbox] {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=checkbox] {
  margin-left: 5px;
}
